@using System.Web.Optimization
@using Visibility_Portal
@{
  Layout = $"{CallCenterAreaRegistration.AreaPathFromRoot}/Views/Shared/_LayoutCallCenter.cshtml";
  ViewBag.Title = "Home - Call Center";
}

<h2>Call Center</h2>
<div>
  This is the call center landing page!
</div>
