<div class="col-md-12 col-lg-12 col-sm-12">
  <div class="panel">
    <div class="panel-heading">
      <div class="pull-left">
        <h5 class="panel-info"><strong>M-Pesa | BULK SMS | Transactional SMS</strong></h5>
      </div>
      <div class="pull-right">
        <button type="button"
                class="btn btn-labeled btn-primary btn-sm"
                onclick="SaccoFloatsReloadData()">
          <span class="btn-label"><i class="fa fa-refresh"></i></span>
          Reload
        </button>
        <button type="button" class="btn btn-labeled btn-warning btn-sm" 
                onclick="SaccoFloatsClearFilters()">
          <span class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i></span>
          Clear filters
        </button>
      </div>

    </div>
    <div class="panel-body">
      <div id="floatListTable"></div>
    </div>

  </div>
</div>