<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="File"
            name="textFile"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${logger} | ${event-properties:operationName} | ${level:uppercase=true} ${newline}${newline}${message}${newline}${newline}${event-properties:operationData}${newline}${onexception:EXCEPTION INFO:${newline}${exception:format=ToString}${newline}}" />

    <target xsi:type="File"
            name="jsonFile"
            fileName="${basedir}/logs/vp_${shortdate}.json"
            keepFileOpen="true"
            concurrentWrites="true"
            archiveAboveSize="10240"
            encoding="utf-8" >

      <layout xsi:type="JsonLayout">
        <attribute name="datetime" layout="${date:format=O}" />
        <attribute name="logger" layout="${logger}"/>
        <attribute name="level" layout="${level}"/>
        <attribute name="operation" layout="${event-properties:operationName}"/>
        <attribute name="operationData" layout="${event-properties:operationData}"/>
        <attribute name="message" layout="${message}${newline}${onexception:EXCEPTION INFO:${newline}${exception:format=ToString}${newline}}" />

      </layout>
    </target>

    <target xsi:type="File"
            name="jsonFileIncident"
            fileName="${basedir}/logs/vp_${shortdate}_i.json"
            keepFileOpen="true"
            concurrentWrites="true"
            archiveAboveSize="102400"
            encoding="utf-8" >

      <layout xsi:type="JsonLayout">
        <attribute name="datetime" layout="${date:format=O}" />
        <attribute name="logger" layout="${logger}"/>
        <attribute name="level" layout="${level}"/>
        <attribute name="operation" layout="${event-properties:operationName}"/>
        <attribute name="operationData" layout="${event-properties:operationData}"/>
        <attribute name="message" layout="${message}" />

      </layout>
    </target>
    
    <target xsi:type="File"
            name="jsonFileDevNotes"
            fileName="${basedir}/logs/vp_${shortdate}_d.json"
            keepFileOpen="true"
            concurrentWrites="true"
            archiveAboveSize="51200"
            encoding="utf-8" >

      <layout xsi:type="JsonLayout">
        <attribute name="datetime" layout="${date:format=O}" />
        <attribute name="logger" layout="${logger}"/>
        <attribute name="level" layout="${level}"/>
        <attribute name="operation" layout="${event-properties:operationName}"/>
        <attribute name="operationData" layout="${event-properties:operationData}"/>
        <attribute name="message" layout="${message}" />

      </layout>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="OperationLog" minlevel="Debug" writeTo="jsonFile" />
    <logger name="IncidentLog" minlevel="Debug" writeTo="jsonFileIncident" />
    <logger name="DevLog" minlevel="Debug" writeTo="jsonFileDevNotes" />
  </rules>
</nlog>
