<connectionStrings>
  <!--development / testing-->
  <add name="visibilityPortalDBConnectionString_testing" 
       connectionString="Data Source=matt-hp-pav-450;Initial Catalog=Test_VisibilityPortal;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="testagency"
       connectionString="Data Source=Data Source=172.31.181.148\DBS;Initial Catalog=AGENCY BANKING;user id=appuser;password=AU@core675$" providerName="System.Data.SqlClient" />
  
  <!--production-->
  <add name="visibilityPortalDBConnectionString_prod" 
       connectionString="" 
       providerName="System.Data.SqlClient" />
  <add name="saccoDB_prod" 
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=SACCO;user id=appuser;password=AU@core675$" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
