<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="visibilityPortalDBConnectionString_testing"
         connectionString="Data Source=MATT-HP-PAV-450;Initial Catalog=Test_VisibilityPortal;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <!--no remote test db server yet, so use the prod db server-->
  <add name="saccoDB_prod"
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=SACCO;user id=appuser;password=AU@core675$"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="testagency"
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=AGENCY BANKING;user id=appuser;password=AU@core675$"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>