<connectionStrings>
  <!--development / testing-->
  <add name="visibilityPortalDBConnectionString_testing" 
       connectionString="Data Source=neptune;Initial Catalog=Visibility_Portal;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="testagency"
       connectionString="Data Source=Neptune;Initial Catalog=AGENCY BANKING;Integrated Security = True" providerName="System.Data.SqlClient" />
  
  <!--production-->
  <add name="visibilityPortalDBConnectionString_prod" 
       connectionString="" 
       providerName="System.Data.SqlClient" />
  <add name="saccoDB_prod" 
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=SACCO;user id=appuser;password=AU@core675$" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
