<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="visibilityPortalDBConnectionString_testing"
         connectionString="Data Source=db_server_address;Initial Catalog=DBName;user id=sa;password=sapassword"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <!--no remote test db server yet, so use the prod db server-->
  <add name="saccoDB_prod"
       connectionString="Data Source=db_server_address;Initial Catalog=DBName;user id=sa;password=sapassword"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="testagency"
       connectionString="Data Source=db_server_address;Initial Catalog=DBName;user id=sa;password=sapassword"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>