<connectionStrings>
  <!--
    This is a sample demo file. Create a copy of this file and rename to AppDBConnectionStrings.config
    and specify the desired values for the connection string configuration
    
    NB: The application relies on the connection string name.
    By default, the names in here are used in the source code
    as well. So changing the connection string name here also
    requires that the name is changed in the code
  -->
  <!--development / testing-->
  <!--Integrate security if using windows authentication-->
  <add name="visibilityPortalDBConnectionString_testing"
       connectionString="Data Source=db_server_address;Initial Catalog=DBName;Integrated Security=True"
       providerName="System.Data.SqlClient" />
  <!--set the username and password if being authenticated by the db server-->
  <add name="testagency"
       connectionString="Data Source=db_server_address;Initial Catalog=DBName;user id=sa;password=sapassword" providerName="System.Data.SqlClient" />

  <!--production-->
  <add name="visibilityPortalDBConnectionString_prod"
       connectionString=""
       providerName="System.Data.SqlClient" />
  <add name="saccoDB_prod"
       connectionString="Data Source=db_server_address;Initial Catalog=DBName;user id=sa;password=sapassword"
       providerName="System.Data.SqlClient" />
</connectionStrings>
