@using System.Web.Optimization
@using Visibility_Portal
@using Utilities.PortalApplicationParams
@{
  ViewBag.Title = "Loans";

  Layout = $"{MSaccoAreaRegistration.AreaPathFromRoot}/Views/Shared/_LayoutMSacco.cshtml";
  ActiveUserParams activeUserParams = ViewBag.ActiveUserParams;
}
<h2>Loans</h2>
<div class="col-md-20">
  <div class="panel">
    <div class="panel-heading">
      <div class="pull-left">
        <h5 class="panel-info">
          <strong>New(last 24 hrs) | Pending | Failed</strong>
          <button type="button"
                  class="btn btn-labeled btn-success btn-sm"
                  onclick="ExportExcel()">
            <span class="btn-label"><i class="fa fa-file-excel-o"></i></span>
            Export To Excel
          </button>
        </h5>
      </div>
      <div class="pull-right">
        <button type="button"
                class="btn btn-labeled btn-primary btn-sm"
                onclick="ReloadData()">
          <span class="btn-label"><i class="fa fa-refresh"></i></span>
          Reload
        </button>
        <button type="button" class="btn btn-labeled btn-warning btn-sm" onclick="ClearFilters()">
          <span class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i></span>
          Clear filters
        </button>
      </div>

    </div>
    <div class="panel-body">
      <div id="loanListTable"></div>
    </div>

  </div>
</div>

@section Scripts {
  <!-- Include external scripts-->
  @{
    string[] scriptFiles = {
      $"{MSaccoAreaRegistration.AreaPathFromRoot}/plugins/sheetjs/xlsx.full.min.js",
      $"{MSaccoAreaRegistration.AreaPathFromRoot}/Scripts/portal/view/loans.js",
    };
  }
  @Scripts.Render(scriptFiles)
  <!-- Define local scripts-->
  <script>
    $(document).ready(function () {
      initTabulator("#loanListTable");
      LoadData("@Url.Action("GetLoanRecords", "Loans")", @activeUserParams.ClientCorporateNo);
    });
  </script>
}