@model IEnumerable<VisibilityPortal_BLL.Models.ModuleUrl>
@using VisibilityPortal_BLL.Models;
@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Mobility Visibility Portal</h1>
  <p class="lead">Multiple services, Single View Point</p>
  <p><small>currently in development</small></p>
  @if (Request.IsAuthenticated)
  {
    if (Model != null)
    {
      @Html.Partial("_SelectModulePartial", Model);
    }
    if (User.IsInRole(PortalUserRoles.SystemRoles.SuperAdmin.ToString()))
    {
    <p>
      <a href=@Url.Action("Index", "Home", new { Area = "CallCenter_UI" })
         class="btn btn-primary btn-lg">
        Call Center &raquo;
      </a>
    </p>
    }
  }
  else
  {
    <p><a href=@Url.Action("Login", "Account") class="btn btn-primary btn-lg">Login &raquo;</a></p>
  }
</div>

