<div class="form-group col-sm-8">
    <textarea class="form-control" rows="4" id="txtSMS" placeholder="Type here ..."></textarea>
</div>

<div class="input-group">
    <input type="file" class="form-control" id="smsContactsFile" accept=".xls,.xlsx">
    <span class="input-group-btn">
        <button type="button"
                class="btn btn-info btn-flat"
                id="btnImportFromFile">
            Import Contacts
        </button>
    </span>
</div>