@{
  ViewBag.Title = "Check Email for Confirmation Link";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>
<div>
  <p>
    Please check your email inbox for the account confirmation link that was sent when your account<br />
    was created on the Visibility Portal.<br /><br />
    If you are unable to trace the message with the confirmation link in your inbox,spam/trash folders,<br />
    <a href='@ViewBag.EmailConfirmationLink'>click here to resend it</a> <br />
  </p>
</div>