@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  var user = (VisibilityPortal_BLL.Models.ASP_Identity.IdentityModels.ApplicationUser)Session["LoggedInUser"];
  //using (Html.BeginForm(
  //  "LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right" }))
  using (Html.BeginRouteForm(
    routeName: "PortalAccount",
    routeValues: new { action = "LogOff", controller = "Account", id = UrlParameter.Optional },
    method: FormMethod.Post,
    htmlAttributes: new { id = "logoutForm", @class = "navbar-right" }))
  {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
  }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.RouteLink(
         "Log in","PortalAccount", 
         routeValues: new { action = "Login", controller = "Account", id = UrlParameter.Optional },
         htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
