<connectionStrings>
  <!--development / testing-->
  <add name="visibilityPortalDBConnectionString_testing" 
       connectionString="Data Source=matt-hp-pav-450;Initial Catalog=Test_VisibilityPortal;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="testagency"
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=AGENCY BANKING;user id=appuser;password=AU@core675$" providerName="System.Data.SqlClient" />
  
  <!--production-->
  <add name="visibilityPortalDBConnectionString_prod"
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=VisibilityPortal;user id=appuser;password=AU@core675$"
       providerName="System.Data.SqlClient" />
  <add name="saccoDB_prod" 
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=SACCO;user id=appuser;password=AU@core675$" 
       providerName="System.Data.SqlClient" />
  <add name="archiveDB_prod"
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=Archive;user id=appuser;password=AU@core675$"
       providerName="System.Data.SqlClient" />
  <add name="messagesDB_prod"
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=Messages;user id=appuser;password=AU@core675$"
       providerName="System.Data.SqlClient" />
	<add name="darajaDB_prod"
       connectionString="Data Source=172.31.181.148\DBS;Initial Catalog=TransactionalDB;user id=appuser;password=AU@core675$"
       providerName="System.Data.SqlClient" />
</connectionStrings>
