@{
    Layout = "../Shared/_LayoutAgencyBankingUI.cshtml";
 }
@using AgencyBanking_UI.Model
@{
    ViewBag.Title = "Agency Banking Home Page";
    List<SummaryMenuItem> itemlist = new List<SummaryMenuItem>();
    //Prepare menu items
    itemlist.Add(new SummaryMenuItem("Withdrawals","/Content/image/withdraw.png","WIthdrawal",ViewBag.Data));
    itemlist.Add(new SummaryMenuItem("Deposits","/Content/image/deposit.png","Deposit",ViewBag.Data));
    itemlist.Add(new SummaryMenuItem("Loan Repayment","/Content/image/report.png","Loan Replayment",ViewBag.Data));
    itemlist.Add(new SummaryMenuItem("New Agents","/Content/image/bankteller.png","#",ViewBag.Data));
}

@section HtmlHead{
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <style>
        @@media only screen and (min-width:  768px) {
            .box-shadow {
                box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
            }
            .zoom {
                padding: 20px;
                -ms-transition: transform .2s;
                -o-transition: transform .2s;
                -webkit-transition: transform .2s;
                transition: transform .2s; /* Animation */
                width: 200px;
                margin: 0 auto;
            }

            .zoom:hover {
                transform: scale(1.1);
            }

        }
        @@media only screen and (max-width: 600px) {
            .zoom {
                margin-top: 10px;
            }

        }

    </style>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>

}

<section class="content">
    <div class="row">
     
        @foreach (var menuItem in itemlist)
        {
            <div class="col-lg-3 col-6 zoom">
                @{
                    var link = (menuItem.FieldName == "#" ? String.Empty : "summary");
                }
                <a href=@Url.Action("Index", link, new {type = menuItem.FieldName})>

                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3> @Html.Raw(menuItem.Amount)</h3>

                            <p>@Html.Raw(menuItem.Title)</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-star"></i>
                        </div>
                        <div href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></div>
                    </div>
                
                </a>
            </div>

        }
    </div>

    <div class="row">

    </div>
</section>